*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: #030712;
}

.wrapper {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;

}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
  width: 200px;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 45s;
  animation-iteration-count: infinite;
}

.itemLeft {
  left: max(calc(200px * 12), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(200px * 12), calc(100% + 200px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(45s / 12 * (12 - 1) * -1);
}

.item2 {
  animation-delay: calc(45s / 12 * (12 - 2) * -1);
}

.item3 {
  animation-delay: calc(45s / 12 * (12 - 3) * -1);
}

.item4 {
  animation-delay: calc(45s / 12 * (12 - 4) * -1);
}

.item5 {
  animation-delay: calc(45s / 12 * (12 - 5) * -1);
}

.item6 {
  animation-delay: calc(45s / 12 * (12 - 6) * -1);
}

.item7 {
  animation-delay: calc(45s / 12 * (12 - 7) * -1);
}

.item8 {
  animation-delay: calc(45s / 12 * (12 - 8) * -1);
}

.item9 {
  animation-delay: calc(45s / 12 * (12 - 9) * -1);
}

.item10 {
  animation-delay: calc(45s / 12 * (12 - 10) * -1);
}

.item11 {
  animation-delay: calc(45s / 12 * (12 - 11) * -1);
}

.item12 {
  animation-delay: calc(45s / 12 * (12 - 12) * -1);
}


