:root {
  --taille: 21;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: #030712;
}

.wrapper {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  height: 150px;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.wrapper .smaller{
  width: 10%;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
  width: 200px;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 45s;
  animation-iteration-count: infinite;
}

.itemLeft {
  left: max(calc(200px * var(--taille)), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(200px * var(--taille)), calc(100% + 200px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 1) * -1);
}

.item2 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 2) * -1);
}

.item3 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 3) * -1);
}

.item4 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 4) * -1);
}

.item5 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 5) * -1);
}

.item6 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 6) * -1);
}

.item7 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 7) * -1);
}

.item8 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 8) * -1);
}

.item9 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 9) * -1);
}

.item10 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 10) * -1);
}

.item11 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 11) * -1);
}

.item12 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 12) * -1);
}

.item13 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 13) * -1);
}

.item14 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 14) * -1);
}

.item15 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 15) * -1);
}

.item16 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 16) * -1);
}

.item17 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 17) * -1);
}

.item18 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 18) * -1);
}

.item19 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 19) * -1);
}

.item20 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 20) * -1);
}

.item21 {
  animation-delay: calc(45s / var(--taille) * (var(--taille) - 21) * -1);
}
